{{define "subject"}}You're Invited from wot!{{end}}

{{define "body"}}
Hello {{.Username}},

You have been invited to our platform. Click the link below to accept:

<a href={{.InviteLink}}>Click here!</a>

Thanks,
wot
{{end}}
